albumentations==0.4.5
imagecorruptions==1.0.0
matplotlib
opencv-python==4.2.0.32
pandas
Pillow
jpeg4py==0.1.4
protobuf==3.11.2
scikit-learn
visdom==0.1.8.9
numpy
ninja
colorama
tabulate
termcolor
tensorboardX
vedo
trimesh
aniposelib
